# Auto-detect text files and perform LF normalization
* text=auto eol=lf

# Binary files
*.efi binary
*.img binary
*.bin binary
*.gz binary

# EFI binaries
*.efi filter=lfs diff=lfs merge=lfs -text

# Images
*.img filter=lfs diff=lfs merge=lfs -text

# Static wallpapers
static/wallpapers/*.png filter=lfs diff=lfs merge=lfs -text

