# git ignore

# Ignore ISO files
*.iso
tftpboot/iso-extracted/*
!tftpboot/iso/.gitkeep
!tftpboot/iso-extracted/.gitkeep

# Ignore IMG files
*.img
!tftpboot/tools/memtest86/memtest86-usb.img

# Ignore archives
*.tar.gz
*.zip

